In [1]:
# Import dependencies
import pandas as pd
from path import Path

In [2]:
# Read tornadoes csv into DataFrame
file_path = Path('Raw_Data/1950-2020_torn.csv')
tornadoes_df = pd.read_csv(file_path, index_col=0)
tornadoes_df.head(25)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,15.8,10,1,1,1,25,0,0,0,0
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,2.0,880,1,1,1,47,0,0,0,0
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,0.1,10,1,1,1,177,0,0,0,0
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,0.1,10,1,1,1,209,0,0,0,0
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,2.0,37,1,1,1,101,0,0,0,0
6,194,1950,11,4,11/4/1950,17:00:00,3,PA,42,5,...,15.9,100,1,1,1,71,11,0,0,0
7,198,1950,12,2,12/2/1950,15:00:00,3,IL,17,7,...,18.8,50,1,1,1,119,117,0,0,0
8,199,1950,12,2,12/2/1950,16:00:00,3,IL,17,8,...,18.0,200,1,1,1,119,5,0,0,0
9,200,1950,12,2,12/2/1950,16:25:00,3,AR,5,12,...,7.8,10,1,1,1,65,0,0,0,0
10,201,1950,12,2,12/2/1950,17:30:00,3,IL,17,9,...,9.6,50,1,1,1,157,0,0,0,0
11,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,0.6,17,1,1,1,113,0,0,0,0
12,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,2.3,300,1,1,1,93,0,0,0,0
13,6,1950,1,25,1/25/1950,21:00:00,3,IL,17,3,...,0.1,100,1,1,1,91,0,0,0,0
14,7,1950,1,26,1/26/1950,18:00:00,3,TX,48,1,...,4.7,133,1,1,1,47,0,0,0,0
15,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,9.5,150,2,0,1,0,0,0,0,0
16,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,6.2,150,2,1,2,189,0,0,0,0
17,1,1950,1,3,1/3/1950,11:10:00,3,IL,17,1,...,3.3,100,2,1,2,119,0,0,0,0
18,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,3.6,130,1,1,1,135,0,0,0,0
19,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0.1,10,1,1,1,161,0,0,0,0
20,8,1950,2,11,2/11/1950,13:10:00,3,TX,48,2,...,9.9,400,1,1,1,39,0,0,0,0
21,9,1950,2,11,2/11/1950,13:50:00,3,TX,48,3,...,12.0,1000,1,1,1,201,0,0,0,0
22,10,1950,2,11,2/11/1950,21:00:00,3,TX,48,4,...,4.6,100,1,1,1,423,0,0,0,0
23,11,1950,2,11,2/11/1950,23:55:00,3,TX,48,5,...,4.5,67,1,1,1,67,343,0,0,0
24,12,1950,2,12,2/12/1950,0:30:00,3,TX,48,6,...,8.0,833,1,1,1,37,0,0,0,0
25,13,1950,2,12,2/12/1950,1:15:00,3,TX,48,7,...,2.3,233,1,1,1,143,0,0,0,0

In [3]:
# Review data types for tornadoes dataframe
tornadoes_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
f          int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len      float64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
fc         int64
dtype: object

In [4]:
# Read hail csv into DataFrame
file_path_2 = Path('Raw_Data/1955-2020_hail.csv')
hail_df = pd.read_csv(file_path_2, index_col=0)
hail_df.head(25)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,elon,len,wid,ns,sn,sg,f1,f2,f3,f4
surr_key,,,,,,,,,,,,,,,,,,,,,
1,327,1955,10,16,10/16/1955,13:15:00,3,NJ,34,1,...,0.0,0,0,0,0,0,25,0,0,0
2,328,1955,10,23,10/23/1955,18:00:00,3,MI,26,7,...,0.0,0,0,0,0,0,5,0,0,0
3,329,1955,10,28,10/28/1955,6:30:00,3,AR,5,12,...,0.0,0,0,0,0,0,119,0,0,0
4,330,1955,10,28,10/28/1955,16:45:00,3,AL,1,9,...,0.0,0,0,0,0,0,117,0,0,0
5,326,1955,10,6,10/6/1955,12:00:00,3,IL,17,8,...,0.0,0,0,0,0,0,149,0,0,0
6,331,1955,11,13,11/13/1955,16:00:00,3,KY,21,5,...,0.0,0,0,0,0,0,197,0,0,0
7,332,1955,11,13,11/13/1955,19:20:00,3,MI,26,8,...,0.0,0,0,0,0,0,163,0,0,0
8,333,1955,11,15,11/15/1955,15:00:00,3,MO,29,27,...,0.0,0,0,0,0,0,65,0,0,0
9,334,1955,11,15,11/15/1955,16:00:00,3,IL,17,9,...,0.0,0,0,0,0,0,81,0,0,0
10,335,1955,11,15,11/15/1955,16:00:00,3,IL,17,10,...,0.0,0,0,0,0,0,51,0,0,0
11,336,1955,11,15,11/15/1955,16:30:00,3,IL,17,11,...,0.0,0,0,0,0,0,49,0,0,0
12,337,1955,11,15,11/15/1955,16:30:00,3,IL,17,12,...,0.0,0,0,0,0,0,29,0,0,0
13,338,1955,11,15,11/15/1955,16:45:00,3,IL,17,13,...,0.0,0,0,0,0,0,191,0,0,0
14,339,1955,11,15,11/15/1955,17:15:00,3,IL,17,14,...,0.0,0,0,0,0,0,47,0,0,0
15,340,1955,11,15,11/15/1955,17:30:00,3,IL,17,15,...,0.0,0,0,0,0,0,0,0,0,0
16,341,1955,11,15,11/15/1955,17:30:00,3,IL,17,16,...,0.0,0,0,0,0,0,163,0,0,0
17,342,1955,11,15,11/15/1955,18:00:00,3,IN,18,6,...,0.0,0,0,0,0,0,107,0,0,0
18,343,1955,11,15,11/15/1955,20:30:00,3,KY,21,6,...,0.0,0,0,0,0,0,15,0,0,0
19,344,1955,11,15,11/15/1955,23:00:00,3,IN,18,7,...,0.0,0,0,0,0,0,11,0,0,0
20,1,1955,1,17,1/17/1955,16:39:00,3,TX,48,1,...,0.0,0,0,0,0,0,227,0,0,0
21,2,1955,2,1,2/1/1955,10:30:00,3,MO,29,1,...,0.0,0,0,0,0,0,135,0,0,0
22,15,1955,3,11,3/11/1955,1:57:00,3,IN,18,2,...,0.0,0,0,0,0,0,97,0,0,0
23,16,1955,3,12,3/12/1955,1:20:00,3,NC,37,3,...,0.0,0,0,0,0,0,119,0,0,0
24,17,1955,3,12,3/12/1955,16:02:00,3,NC,37,4,...,0.0,0,0,0,0,0,119,0,0,0
25,18,1955,3,12,3/12/1955,19:00:00,3,GA,13,1,...,0.0,0,0,0,0,0,97,0,0,0

In [5]:
# Review data types for hail dataframe - should be the same but double checking
hail_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
sz       float64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len        int64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
dtype: object

In [6]:
# Read wind csv into DataFrame
file_path_3 = Path('Raw_Data/1955-2020_wind.csv')
wind_df = pd.read_csv(file_path_3, index_col=0)
wind_df.head(25)

C:\Users\Valerie\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,mt
surr_key,,,,,,,,,,,,,,,,,,,,,
1,397,1955,10,12,10/12/1955,15:00:00,3,AR,5,24,...,0,0,0,0,0,31,0,0,0,NaN
2,398,1955,10,18,10/18/1955,8:00:00,3,FL,12,9,...,0,0,0,0,0,25,0,0,0,NaN
3,399,1955,10,23,10/23/1955,18:00:00,3,MI,26,9,...,0,0,0,0,0,5,0,0,0,NaN
4,400,1955,10,23,10/23/1955,19:00:00,3,MI,26,10,...,0,0,0,0,0,57,0,0,0,NaN
5,401,1955,10,23,10/23/1955,20:00:00,3,MI,26,11,...,0,0,0,0,0,63,0,0,0,NaN
6,402,1955,10,24,10/24/1955,15:00:00,3,PA,42,9,...,0,0,0,0,0,21,0,0,0,NaN
7,403,1955,10,28,10/28/1955,11:30:00,3,MS,28,7,...,0,0,0,0,0,137,0,0,0,NaN
8,404,1955,10,28,10/28/1955,12:00:00,3,MS,28,8,...,0,0,0,0,0,93,0,0,0,NaN
9,405,1955,10,28,10/28/1955,12:00:00,3,TN,47,11,...,0,0,0,0,0,47,0,0,0,NaN
10,406,1955,10,28,10/28/1955,14:00:00,3,TN,47,12,...,0,0,0,0,0,69,0,0,0,NaN
11,407,1955,10,28,10/28/1955,14:00:00,3,TN,47,13,...,0,0,0,0,0,53,0,0,0,NaN
12,408,1955,10,28,10/28/1955,14:45:00,3,MS,28,9,...,0,0,0,0,0,69,0,0,0,NaN
13,409,1955,10,28,10/28/1955,16:40:00,3,AL,1,13,...,0,0,0,0,0,73,0,0,0,NaN
14,410,1955,10,30,10/30/1955,13:00:00,3,PA,42,10,...,0,0,0,0,0,1,0,0,0,NaN
15,411,1955,10,30,10/30/1955,15:00:00,3,PA,42,11,...,0,0,0,0,0,133,0,0,0,NaN
16,393,1955,10,2,10/2/1955,1:15:00,3,KS,20,32,...,0,0,0,0,0,15,0,0,0,NaN
17,394,1955,10,4,10/4/1955,16:00:00,3,TX,48,72,...,0,0,0,0,0,107,0,0,0,NaN
18,395,1955,10,6,10/6/1955,13:00:00,3,IL,17,15,...,0,0,0,0,0,61,0,0,0,NaN
19,396,1955,10,7,10/7/1955,13:00:00,3,IL,17,16,...,0,0,0,0,0,143,0,0,0,NaN
20,412,1955,11,14,11/14/1955,15:30:00,3,MS,28,10,...,0,0,0,0,0,93,0,0,0,NaN
21,413,1955,11,15,11/15/1955,14:10:00,3,OH,39,15,...,0,0,0,0,0,155,0,0,0,NaN
22,414,1955,11,15,11/15/1955,15:30:00,3,IL,17,17,...,0,0,0,0,0,45,0,0,0,NaN
23,415,1955,11,15,11/15/1955,16:00:00,3,MO,29,16,...,0,0,0,0,0,69,0,0,0,NaN
24,416,1955,11,15,11/15/1955,17:30:00,3,IL,17,18,...,0,0,0,0,0,0,0,0,0,NaN
25,417,1955,11,15,11/15/1955,19:30:00,3,IN,18,11,...,0,0,0,0,0,65,0,0,0,NaN

In [7]:
# Review data types for wind dataframe - should be the same but double checking
wind_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
mag        int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len        int64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
mt        object
dtype: object

In [8]:
# Loading and reading in dataset
# data from https://www.kaggle.com/datasets/atinakarim/noaa-severe-storm-database?select=tornado_path.csv
file_path_4 = Path('Raw_Data/tornado_path.csv')
tornado_path_df = pd.read_csv(file_path_4, index_col=0)
tornado_path_df.head(25)

,storm_time,time_zone_offset,state_abbreviation,state_name,state_fips_code,magnitude,injured_count,fatality_count,property_loss,crop_loss,yearly_tornado_count,start_lon,start_lat,end_long,end_lat,length,width,tornado_path_geom
storm_date,,,,,,,,,,,,,,,,,,
6/7/2015,0:15:00,-06:00,IA,Iowa,19,0,0,0,0.015,0.004,575683,-94.0213,42.0995,-93.9673,42.1081,2.83,120,"LINESTRING(-94.0213 42.0995, -93.9673 42.1081)"
11/11/2015,14:00:00,-06:00,IA,Iowa,19,1,0,0,0.405,0.000,602617,-94.5585,40.7157,-94.3545,40.9904,21.80,1350,"LINESTRING(-94.5585 40.7157, -94.4565 40.85305..."
9/21/2016,17:32:00,-06:00,IA,Iowa,19,0,0,0,3000.000,3000.000,614379,-92.7308,42.9155,-92.7105,42.9341,1.65,150,"LINESTRING(-92.7308 42.9155, -92.7105 42.9341)"
5/1/2008,17:59:00,-06:00,IA,Iowa,19,2,0,0,0.510,0.000,553,-96.3000,43.1400,-96.4200,43.3000,12.95,1200,"LINESTRING(-96.3 43.14, -96.42 43.3)"
6/28/2017,16:05:00,-06:00,IA,Iowa,19,2,0,0,75000.000,10000.000,615497,-94.7771,40.5851,-94.6462,40.6043,6.99,3000,"LINESTRING(-94.7771 40.5851, -94.6462 40.6043)"
4/13/2006,19:29:00,-06:00,IA,Iowa,19,2,30,0,12.000,0.000,356,-91.5500,41.6700,-91.5500,41.6700,4.50,1761,NaN
11/12/2005,16:58:00,-06:00,IA,Iowa,19,2,1,0,0.350,0.000,1204,-93.7000,42.0200,-93.6000,42.1300,12.00,300,"LINESTRING(-93.7 42.02, -93.6 42.13)"
6/1/2001,15:55:00,-06:00,IA,Iowa,19,1,0,0,0.120,0.000,993,-91.7700,42.5000,-91.7300,42.5000,1.00,450,"LINESTRING(-91.77 42.5, -91.73 42.5)"
5/21/2004,17:08:00,-06:00,IA,Iowa,19,2,15,0,2.520,0.000,903,-94.5200,42.8200,-94.3200,42.8000,12.50,2640,"LINESTRING(-94.52 42.82, -94.32 42.8)"
3/6/2017,21:50:00,-06:00,IA,Iowa,19,0,0,0,5000.000,0.000,614755,-90.8302,42.2930,-90.7344,42.3352,5.70,75,"LINESTRING(-90.8302 42.293, -90.7344 42.3352)"
10/2/2007,15:40:00,-06:00,IA,Iowa,19,1,0,0,0.075,0.000,988,-93.6300,41.5800,-93.6200,41.5800,0.44,60,"LINESTRING(-93.63 41.58, -93.62 41.58)"
6/16/2014,18:45:00,-06:00,IA,Iowa,19,0,0,0,0.400,0.001,518047,-92.7498,42.7831,-92.7159,42.7820,1.72,450,"LINESTRING(-92.7498 42.7831, -92.7159 42.782)"
6/1/2001,15:30:00,-06:00,IA,Iowa,19,0,0,0,0.003,0.000,788,-92.4500,42.5200,-92.4500,42.5200,0.20,90,NaN
6/20/2015,18:32:00,-06:00,IA,Iowa,19,1,0,0,0.300,0.000,610626,-91.2844,40.8123,-91.2494,40.7783,2.92,150,"LINESTRING(-91.2844 40.8123, -91.2494 40.7783)"
6/28/2017,15:21:00,-06:00,IA,Iowa,19,1,0,0,10000.000,5000.000,615492,-94.8906,41.0626,-94.8230,41.0828,3.78,300,"LINESTRING(-94.8906 41.0626, -94.823 41.0828)"
5/16/1999,18:36:00,-06:00,IA,Iowa,19,0,0,0,0.002,0.000,936,-94.1500,41.8300,-94.1500,41.8300,0.30,0,NaN
5/10/2005,19:13:00,-06:00,IA,Iowa,19,0,0,0,0.002,0.000,733,-95.0800,41.5800,-95.0500,41.6000,2.00,120,"LINESTRING(-95.08 41.58, -95.05 41.6)"
5/19/2013,17:32:00,-06:00,IA,Iowa,19,0,0,0,0.004,0.000,440819,-94.0668,41.5878,-94.0329,41.6039,2.08,300,"LINESTRING(-94.0668 41.5878, -94.0329 41.6039)"
6/28/2017,15:43:00,-06:00,IA,Iowa,19,0,0,0,1000.000,2000.000,615494,-94.6763,41.0779,-94.6393,41.0813,1.94,90,"LINESTRING(-94.6763 41.0779, -94.6393 41.0813)"
5/21/2004,13:38:00,-06:00,IA,Iowa,19,1,0,0,0.002,0.000,898,-92.7700,42.4200,-92.7200,42.4000,3.50,300,"LINESTRING(-92.77 42.42, -92.72 42.4)"
7/9/2000,20:15:00,-06:00,IA,Iowa,19,1,0,0,0.060,0.000,1025,-96.1300,43.2800,-96.1700,43.2300,3.00,300,"LINESTRING(-96.13 43.28, -96.17 43.23)"
5/11/2000,18:03:00,-06:00,IA,Iowa,19,3,25,1,1.750,0.000,764,-92.4500,42.5200,-92.0000,42.6000,18.60,630,"LINESTRING(-92.45 42.52, -92.225 42.56, -92 42.6)"
5/18/2005,17:58:00,-06:00,IA,Iowa,19,1,0,0,0.090,0.000,737,-94.4242,42.3190,-94.1107,42.4215,24.50,300,"LINESTRING(-94.4242 42.319, -94.26745 42.37025..."
6/5/2008,23:10:00,-06:00,IA,Iowa,19,1,0,0,0.180,0.010,1108,-93.5300,41.2200,-93.3100,41.4200,18.26,450,"LINESTRING(-93.53 41.22, -93.42 41.32, -93.31 ..."
5/25/2008,15:48:00,-06:00,IA,Iowa,19,5,70,9,100.300,0.232,912,-92.8800,42.5500,-92.0800,42.6200,40.97,6300,"LINESTRING(-92.88 42.55, -92.68 42.5675, -92.4..."

In [10]:
# Checking data types
tornado_path_df.dtypes

storm_time               object
time_zone_offset         object
state_abbreviation       object
state_name               object
state_fips_code           int64
magnitude                object
injured_count             int64
fatality_count            int64
property_loss           float64
crop_loss               float64
yearly_tornado_count      int64
start_lon               float64
start_lat               float64
end_long                float64
end_lat                 float64
length                  float64
width                     int64
tornado_path_geom        object
dtype: object

In [24]:
# Crop loss totals by state
Total_Tornadoes_by_State = tornado_path_df.groupby(["state_name"]).count()["yearly_tornado_count"]
Total_Tornadoes_by_State

state_name
Alabama            805
Alaska               3
Arizona            140
Arkansas           219
California          26
Colorado            37
Connecticut         12
Florida           1126
Georgia            495
Hawaii              24
Idaho              110
Illinois           213
Indiana            538
Iowa               935
Kansas            2711
Kentucky           224
Louisiana          227
Maine               56
Maryland            47
Massachusetts       10
Michigan           103
Minnesota           92
Mississippi        451
Missouri           227
Montana            170
Nebraska           149
Nevada              71
New Hampshire        2
New Jersey           9
New Mexico          11
New York            48
North Carolina     176
North Dakota        57
Ohio               297
Oklahoma           272
Oregon              55
Pennsylvania       100
Puerto Rico          4
Rhode Island         1
South Carolina     125
South Dakota        33
Tennessee          214
Texas             4954
Utah                71
Vermont              4
Virginia           143
Washington          11
West Virginia       27
Wisconsin          153
Wyoming             12
Name: yearly_tornado_count, dtype: int64